<h1>Users</h1>
<fieldset>
    <legend>Adding User</legend>
    <ul>
        <li ng-repeat="message in controller.validationMessages" class="error">
            {{message}}
        </li>
    </ul>
    <form name="userForm" class="form-horizontal" ng-submit="controller.register()">

        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email/User Name</label>
            <div class="col-lg-10">
                <input name="email" type="text" ng-model="controller.registerUser.email"
                       class="form-control" id="inputEmail" placeholder="Email" required
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <span ng-show="userForm.email.$touched && userForm.email.$error.required" class="error">
                    Email is required.
                </span>
                <span ng-show="userForm.email.$touched && userForm.email.$error.pattern" class="error">
                    Email must be a valid email format, ex. yo@coder.com
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input name="password" type="password" ng-model="controller.registerUser.password"
                       class="form-control" id="inputPassword" placeholder="Password" required />

                <span ng-show="userForm.password.$touched && userForm.password.$error.required" class="error">
                    Password is required.
                </span>
                <span ng-show="userForm.password.$touched && userForm.password.$error.pattern" class="has-error">
                    Passwords must have at least one non alphanumeric character.
                    Passwords must have at least one digit ('0'-'9').
                    Passwords must have at least one lowercase ('a'-'z').
                    Passwords must have at least one uppercase ('A'-'Z').
                    Password must be at least 6 characters long.
                </span>

            </div>
        </div>
        <div class="form-group">
            <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm Password</label>
            <div class="col-lg-10">
                <input name="confirmpassword" type="password" ng-model="controller.registerUser.confirmPassword"
                       class="form-control" id="inputConfirmPassword"
                       placeholder="Confirm Password" required>
                <span ng-show="userForm.confirmpassword.$touched && userForm.confirmpassword.$error.required" class="error">
                    Confirm Password is required.
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" ng-click="controller.clearForm()" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</fieldset>
